.page {
  padding: 12px 12px 28px;
  background-color: #ffeaf4;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 14px;
}

.font_1 {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;
}
.text {
  line-height: 13.5px;
}
.group {
  padding-left: 36px;
  padding-right: 18px;
}
.image {
  width: 159px;
  height: 335px;
}
.group_2 {
  margin-top: 30px;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 16px;
}
.font_2 {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;
}
.text_2 {
  margin-top: 16px;
  word-break: break-all;
  
}
.group_3 {
  margin-top: 80px;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 20px;
}
.text-wrapper {
  padding: 18px 0;
  background-color: #3d8bfd;
  border-radius: 15px;
  overflow: hidden;
  width: 65px;
}
.text_3 {
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 7px;
}
.text_4 {
  margin-left: 90px;
  line-height: 10px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}